html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
    }
a {
    color: red:
}
#links {
    color: red;
    font-size: 40px;
}
h1 {
    font-size: 50px;
    color: red
    
}