html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
    }
div {
    background-color: rgb(78, 175, 83);
    width: 516px;
}
h1 {
    font-size: 50px;
    color: red
    
}